* {
    font-size: 16px;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 1fr 5vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

#cabecalho{
    grid-area: header;
    background-color: #1867c0;
}

#principal{
    grid-area: main;
    height: calc(100vh - 15vh);
    background-color: #f0f0f0;
    display: grid;

}

#rodape{
    grid-area:footer;
    background-color: rgba(19, 18, 18, 0.925);
    text-align: center;
    color: rgb(185, 179, 156);   
}

#corpoCalc{
    background-color: red;
    width: 80vw;
    margin: 5vh 10vw;
    padding: 25px 4% 25px 2%;
    border-radius: 20px;
    display: grid;
    row-gap: 0.5vh;
    column-gap: 0.5vw;
    grid-template-rows: 16% repeat(6, 1fr);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
    "display display display display"
    "delete  modulo  multi  divi"
    "sete    oito    nove   igual"
    "quatro  cinco   seis   menos"
    "um      dois    tres   plus"
    "fator   zero    power  plus"
    "abre    fecha   ponto  plus";    
}

.btt, .fixingEffects{
    border: 2px solid rgba(49, 48, 48, 0.863);
    border-radius: 5px;
}

/* Botoes grid */
#display{
    grid-area: display;
    text-align:right;
    border-bottom: 2px solid rgba(49, 48, 48, 0.863);
    border-right: 2px solid rgba(49, 48, 48, 0.863);
    border-radius:10px;
    background: linear-gradient(360deg, #eee, #ccc);
    background-position: bottom ;
}

.zero{
    grid-area: zero;
}
.um{
    grid-area: um;
}
.dois{
    grid-area: dois;
}
.tres{
    grid-area: tres;
}
.quatro{
    grid-area: quatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.sete{
    grid-area: sete;
}
.oito{
    grid-area: oito;
}
.nove{
    grid-area: nove;
}
.c{
    grid-area: delete;
}
.modulo{
    grid-area: modulo;
}
.multi{
    grid-area: multi;
}
.divi{
    grid-area: divi;
}

.equal{
    grid-area: igual;
}
.menos{
    grid-area: menos;
}
#plus{
    grid-area: plus;
}
.factorial{
    grid-area: fator;
}
.direito{
    grid-area: fecha;
}
.esquerdo{
    grid-area: abre;
}
.ponto{
    grid-area: ponto;
}
.power{
    grid-area: power;
}
































/* @media (min-width:451px){
    .body{
        width: 85%;
        min-height: 280px;
        margin: 3em auto;
        background: rgb(97, 96, 96);
        display: grid;
        grid-gap: 1em;
        grid-template-columns: repeat(4, [col-start] .5fr [col-end]);
        grid-template-rows: [row-start]80px[row-end] repeat(6, [row-start] 60px [row-end]);
        border-radius: 20px;
        padding: 20px;
    }

    #display{
        grid-column: col-start 1 / col-end 4;
        grid-row: row-start 1 / row-end 1;
        text-align:right;
        border-top: 2px solid white;
        border-left: 2px solid white;
        background: linear-gradient(360deg, #eee, #ccc);
        background-position: bottom ;
        border-radius: 10px;
        font-size: 2em;
        padding:10px 10px;
        box-sizing: border-box;
        
    }
    button{
        box-sizing: border-box;
        font-size: 24px;
        font-weight:500;
        max-height: 9em;
        border-radius: 5px;
    
    }

    button:hover, #plus:hover{
        transition: background-color 1.2s;
        background: rgb(65, 116, 173)
    }
    
    #plus{
        background: rgb(185, 185, 185);
        grid-column: col-start 4 / col-end 4;
        grid-row: row-start 5 / row-end 6;
        height: 8.9em;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(4, [col-start] 25% [col-end]);
    }

    #foot{
        font-size: 1em;
        box-sizing: border-box;
        padding: 20px 0;
        margin-top: 2em;
        color: rgb(185, 179, 156);
        width: 110%;
        height: 50px;
        border-radius:20%;
        background-color: black;
        grid-column: col-start 2/ col-end 3;
        text-align: center;
    }
}


@media (max-width:450px){
    .body{
        width: 90%;
        min-height: 180px;
        margin: 3em auto;
        background: rgb(97, 96, 96);
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(4, [col-start] .5fr [col-end]);
        grid-template-rows: [row-start]80px[row-end] repeat(5, [row-start] 60px [row-end]) [row-start] 60px [row-end];
        border-radius: 20px;
        padding: 20px;
    }
    #display{
        grid-column: col-start 1 / col-end 4;
        grid-row: row-start 1 / row-end 1;
        text-align: right;
        border-top: 2px solid white;
        border-left: 2px solid white;
        background: linear-gradient(360deg, #eee, #ccc);
        background-position: bottom ;
        border-radius: 10px;
        font-size: 1.5em;
        padding:10px 10px;
        box-sizing: border-box;
        
    }
    button{
        font-size: 1em;
        max-height: 9em;
        min-width: 15%;
        border-radius: 5px;
    
    }

    button:hover, #plus:hover{
        transition: background-color 0.8s;
        background: rgb(65, 116, 173)
    }
    
    #plus{
        background: rgb(185, 185, 185);
        grid-column: col-start 4 / col-end 4;
        grid-row: row-start 5 / row-end 7;
        min-height: 12.2em;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(5, [col-start] 20% [col-end]);
    }

    #foot{
        font-size: 1em;
        box-sizing: border-box;
        padding: 23px 0;
        margin-top: 6em;
        color: rgb(185, 179, 156);
        width: 110%;
        height: 70px;
        border-radius:25%;
        background-color: black;
        grid-column: col-start 2/ col-end 4;
        text-align: center;
    }
} */