* {
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh 1fr 7vh;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

#cabecalho{
    grid-area: header;
    background-color: #7706a3;
    position: relative;
}

#fotinha{
    position: absolute;
    left: 10px;
    top: 20%;
    background-image: url(../assets/me70x55.png);
    border-radius: 50px;
    width: 70px;
    height: 55px;
}

#navBar {
    position: absolute;
    top: 30%;
    left: 10vw;
}

#navBar > li{
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
}

#navBar > li > a{
    color: white;
    text-decoration: none;

}

#rodape{
    grid-area:footer;
    background-color: rgba(19, 18, 18, 0.925);
    text-align: center;
    color: rgb(185, 179, 156);
    position: relative;  
}

#rodape > p{
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
}

#principal{
    grid-area: main;
    height: calc(100vh - 19vh);
    background-color: #f0f0f0;
    display: grid;

}

#corpoCalc{
    background-color: rgba(78, 73, 73, 0.712);
    width: 80vw;
    margin: 2vh 10vw;
    padding: 20px 3% 20px 1%;
    border-radius: 20px;
    display: grid;
    row-gap: 0.5vh;
    column-gap: 0.5vw;
    grid-template-rows: 16% repeat(6, 1fr);
    grid-template-columns: repeat(4, 25%);
    grid-template-areas: 
    "display display display display"
    "delete  modulo  multi  divi"
    "sete    oito    nove   igual"
    "quatro  cinco   seis   menos"
    "um      dois    tres   plus"
    "fator   zero    power  plus"
    "abre    fecha   ponto  plus";    
}

/* Botoes grid */
#display{
    grid-area: display;
    border-bottom: 2px solid rgba(49, 48, 48, 0.863);
    border-right: 2px solid rgba(49, 48, 48, 0.863);
    border-radius:10px;
    background: linear-gradient(360deg, #eee, #ccc);
    background-position: bottom ;
    position: relative;
}
#printer{
    font-weight: 300;
    font-size: 24px;
    text-align: right;
    position:absolute;
    right: 10px;
    left: 0;
    bottom: -25px;
    
}

.btt, .fixingEffects{
    border: 2px solid rgba(49, 48, 48, 0.863);
    border-radius: 5px;
    background-color: #f0f0f0;
    font-weight: 400;
    font-size: 25px;
}

.zero{
    grid-area: zero;
}
.um{
    grid-area: um;
}
.dois{
    grid-area: dois;
}
.tres{
    grid-area: tres;
}
.quatro{
    grid-area: quatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.sete{
    grid-area: sete;
}
.oito{
    grid-area: oito;
}
.nove{
    grid-area: nove;
}
.c{
    grid-area: delete;
}
.modulo{
    grid-area: modulo;
}
.multi{
    grid-area: multi;
}
.divi{
    grid-area: divi;
}

.equal{
    grid-area: igual;
}
.menos{
    grid-area: menos;
}
#plus{
    grid-area: plus;
    background-color: #c0bcbc;
    font-size: 30px;
}
.factorial{
    grid-area: fator;
}
.direito{
    grid-area: fecha;
}
.esquerdo{
    grid-area: abre;
}
.ponto{
    grid-area: ponto;
}
.power{
    grid-area: power;
}

@media(max-width: 450px){
    #navBar {
        position: absolute;
        top: 35%;
        left: 15vw;
    }
    
    #navBar > li{
        display: inline-block;
        font-size: 16px;
        margin-right: 5px;
    }
    #fotinha{
        position: absolute;
        left: 10px;
        top: 15%;
        background-image: url(../assets/me70x45.png);
        border-radius: 100px;
        width: 70px;
        height: 45px;
    }
}